akshare
baostock
pandas
# ray
pandas_ta
finta
tqdm
# mplfinance
pyecharts
# lightgbm
schedule
streamlit
streamlit-echarts
tabulate
loguru
pathos
dask[complete]
scikit-learn
torch
matplotlib
fastapi
uvicorn
pymongo